<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../css/main.css">
      <link rel="stylesheet" href="../css/notify.css">

      <title>Responsive cactus website - Bedimcode</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="container nav">
            <a href="#" class="nav__logo">
                <img src="../images/logo.jpg">
                <p>English Test</p>
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Doing Test</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">List Exam</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">News</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">About</a>
                    </li>
                </ul>

                <!-- Button close -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__actions">
                <i class="ri-user-line"></i>

                <!-- Toggle Button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
         </nav>
      </header>

      <!--==================== MAIN ====================-->
      <main class="main">
        <section class="section notify_exam_done">
            <div class="notify_exam">
                <h2>Name Test</h2>
                <div class="notify">
                    <div class="notify_left">
                        <p><i class="ri-time-line"></i> Thời gian làm bài thi: </p>
                        <p><i class="ri-calendar-schedule-line"></i> Thời gian bắt đầu: </p>
                        <p><i class="ri-calendar-todo-line"></i> Thời gian kết thúc: </p>
                        <p> </i> Số câu hỏi: </p>
                        <p><i class="ri-dashboard-2-fill"></i> Chủ đề</p>
                    </div>

                    <div class="notify_right">
                        <p>10 phút</p>
                        <p>20:45 18/11/2023</p>
                        <p>20:45 25/11/2023</p>
                        <p>10 câu</p>
                        <p>Tiếng anh cơ bản</p>
                    </div>
                </div>
                <p class="congratulations">CHÚC MỪNG BẠN ĐÃ HOÀN THÀNH BÀI KIỂM TRA</p>
            </div>
        </section>

        <p class="btnClickDetails_none">Kết quả bài thi <i class="ri-arrow-up-s-line"></i></p>

        <section class="section notify_exam_score">
            <div class="score_exam">
                <h2>Điểm của bạn 10</h2>
                <div class="details_exam">
                    <div class="details_exam_left">
                        <p><i class="ri-time-line"></i> Thời gian làm bài thi: </p>
                        <p><i class="ri-calendar-schedule-line"> </i>Thời gian vào thi: </p>
                        <p><i class="ri-checkbox-fill"></i> Số câu đúng: </p>
                        <p><i class="ri-question-mark"> </i>Tổng kết câu trong đề: </p>
                        <p><i class="ri-dashboard-2-fill"></i> Chủ đề</p>
                    </div>

                    <div class="details_exam_right">
                        <p>20:45 18/11/2023</p>
                        <p>20:52 18/11/2023</p>
                        <p>10 câu</p>
                        <p>10 câu</p>
                        <p>Tiếng anh cơ bản</p>
                    </div>
                </div>
            </div>
        </section>
      </main>

      <!--==================== FOOTER ====================-->
      <footer class="footer">
         <div class="footer__container container grid">
            <div>
                <a href="" class="footer__logo">
                    <i class="ri-catus-line"></i>
                </a>

                <p class="footer__description">
                    Choose the best <br> English Test for you.
                </p>
            </div>

            <div class="footer__content grid">
                <div>
                    <h3 class="footer__title">COMPANY</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="" class="footer__link">About us</a>
                        </li>
                        <li>
                            <a href="" class="footer__link">Products</a>
                        </li>
                        <li>
                            <a href="" class="footer__link">Feature</a>
                        </li>
                        <li>
                            <a href="" class="footer__link">Blog & News</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">COMPANY</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="" class="footer__link">About us</a>
                        </li>
                        <li>
                            <a href="" class="footer__link">Products</a>
                        </li>
                        <li>
                            <a href="" class="footer__link">Feature</a>
                        </li>
                        <li>
                            <a href="" class="footer__link">Blog & News</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title"></h3>

                    <ul class="footer__social">
                        <a href="" target="_blank" class="footer__social-link">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>

                        <a href="" target="_blank" class="footer__social-link">
                            <i class="ri-instagram-fill"></i>
                        </a>

                        <a href="" target="_blank" class="footer__social-link">
                            <i class="ri-twitter-x-line"></i>
                        </a>

                    </ul>
                </div>
            </div>
         </div>

         <span class="footer__copy">
                &#169; All Rights Reserved By DucThien
         </span>
      </footer>

      <!--========== SCROLL UP ==========-->
      <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
      </a>

      <!--=============== SCROLLREVEAL ===============-->
      <script src=""></script>

      <!--=============== MAIN JS ===============-->
      <script src="../js/main.js"></script>
   </body>
</html>